<div class="relative size-10">
  <button
    class="p-2 rounded-2xl size-10 hover:bg-gray-300 hover:text-black transition-all duration-300 ease-in-out"
    [class.bg-gray-700]="!isExpanded"
    [class.bg-gray-300]="isExpanded"
    [class.text-slate-200]="!isExpanded"
    [class.text-black]="isExpanded"
    (click)="toggle()"
  >
    <ng-icon
      [name]="isExpanded ? 'matCloseRound' : 'matShareRound'"
      size="24"
    ></ng-icon>
  </button>
  <button
    target="_blank"
    class="absolute p-2 rounded-2xl size-10 bg-blue-800 text-white hover:bg-gray-300 hover:text-black transition-all duration-300 ease-in-out -z-10"
    [class.opacity-0]="!isExpanded"
    [class.opacity-100]="isExpanded"
    [class.left-0]="!isExpanded"
    [class.-left-16]="isExpanded"
    (click)="
      navigateTo(
        'Facebook',
        'https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fcodehunter.kai-wu.net%2F'
      )
    "
  >
    <ng-icon name="jamFacebook" size="24"></ng-icon>
  </button>
  <button
    target="_blank"
    class="absolute p-2 rounded-2xl size-10 bg-green-500 text-white hover:bg-gray-300 hover:text-black transition-all duration-300 ease-in-out -z-10"
    [class.opacity-0]="!isExpanded"
    [class.opacity-100]="isExpanded"
    [class.left-0]="!isExpanded"
    [class.-left-12]="isExpanded"
    [class.top-0]="!isExpanded"
    [class.-top-12]="isExpanded"
    (click)="
      navigateTo(
        'LINE',
        'https://social-plugins.line.me/lineit/share?url=https%3A%2F%2Fcodehunter.kai-wu.net%2F'
      )
    "
  >
    <ng-icon name="jamLine" size="24"></ng-icon>
  </button>
</div>
