<app-full-page #fullPage themes="slideInFromRight">
    <ul class="flex flex-col justify-evenly mt-8 mr-0 mb-0 ml-0 p-0 max-h-48 h-full list-none text-xl text-right">
        <li>
            <app-external-link href="https://www.kai-wu.net" i18n="@@nav-more-blog-link">
                Blog
            </app-external-link>
        </li>
        <li>
            <app-external-link href="https://www.facebook.com/kai73002981">
                Facebook
            </app-external-link>
        </li>
    </ul>
</app-full-page>